.link{
    font-weight: 500;
    cursor: pointer;
}

.rating-label{
    font-size:18px;
    color: #AAAAAA;
}

.rating-text{
    font-size:38px;
    font-weight: bold;
    color: #242424;
}



